<form method="post">
     <input type="text" id="name" name="name">
     <label for="name"> name</label><br>
     <input type="checkbox" id="permission1" name="permission" value="thêm">
     <label for="permission1"> thêm</label><br>
     <input type="checkbox" id="permission2" name="permission" value="sửa">
     <label for="permission2"> sửa</label><br>
     <input type="checkbox" id="permission3" name="permission" value="xoá">
     <label for="permission3"> xoá</label><br><br>
     <button>them</button>
</form>