<div class="card text-center" style="width: 300px; margin: 0 auto">
     <div class="card-header h5 text-white bg-primary">Password Reset</div>
     <div class="card-body px-5">
          <% if (msg.length) { %>
               <p class="alert alert-success card-text py-2 alter">
                    <%= msg %>
               </p>
               <% } %>
                    <% if (msgError.length) { %>
                         <div class="alert alert-danger">
                              <%= msgError %>
                         </div>

                         <% } %>
                              <p class="card-text py-2">
                                   Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn một email kèm theo hướng dẫn
                                   để đặt lại
                                   mật khẩu
                                   của bạn.
                              </p>
                              <form method="post">
                                   <div class="form-outline">
                                        <input name="email" type="email" id="typeEmail" class="form-control my-3" />
                                        <label class="form-label" for="typeEmail">Email input</label>
                                        <% if (error.length) { %>
                                             <p class="text-danger">
                                                  <%= error %>
                                             </p>
                                             <% } %>
                                   </div>
                                   <button class="btn btn-primary w-100">Reset password</button>
                              </form>
                              <div class="d-flex justify-content-between mt-4">
                                   <a href="/auth/dang-nhap">Login</a>
                                   <a href="/auth/dang-ki">Register</a>
                              </div>
     </div>
</div>