<h1>Verify Password</h1>
<form method="post">
     <div class="mb-3 row">
          <label for="inputPassword2" class="col-sm-2 col-form-label">Password Mới:</label>
          <div class="col-sm-10">
               <input name="passwordNew" type="password" class="form-control" id="inputPassword2">
               <%- req.errors?.passwordNew ? `<span class="text-danger">${ req.errors?.passwordNew}</span>` : "" %>
          </div>
     </div>
     <div class="mb-3 row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">R-Password Mới:</label>
          <div class="col-sm-10">
               <input name="passwordNewR" type="password" class="form-control" id="inputPassword3">
               <%- req.errors?.passwordNewR ? `<span class="text-danger">${ req.errors?.passwordNewR}</span>` : "" %>
          </div>
     </div>
     <button type=" submit" class="btn btn-primary">Cập nhập mật khẩu</button>
</form>