<p>Lorem ipsum dolor sit amet.</p>

<div class="my-module">
     This container contains the modal code.
     <div class="modal fade">
          <div class="modal-dialog">
               <div class="modal-content">
                    <div class="modal-body">Modal</div>
               </div>
          </div>
     </div>
</div>