<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
          integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
     <link rel="stylesheet" href="/stylesheets/style.css">
     <title>Bài Tập Về Nhà</title>
</head>

<body>
     <main>
          <div class="container d-flex  align-items-start mt-4 gap-4">
               <div class="nav flex-column gap-4 nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical"
                    style="min-width: 250px;">
                    <a class="nav-link" id="home" href="/">Trang chủ</a>
                    <a class="nav-link" id="short-link" href="/short-link">Rút gọn link</a>
                    <a class="nav-link" id="users" href="/users">Quản lý người dùng</a>
                    <a class="nav-link" id="roles" href="/roles">Quản lý Role</a>
                    <a class="nav-link" id="profiles" href="/profile/basic-information">Thông tin cá nhân</a>
                    <a class="nav-link" id="devices" href="/profile/devices">Quản lý thiết bị</a>
                    <a class="nav-link" onclick="setActive('password')" id="password"
                         href="/profile/change-password">Đổi mật khẩu</a>
                    <a class="nav-link" id="logout" href="/auth/dang-xuat">Đăng Xuất</a>
               </div>
               <%- body %>
          </div>
     </main>
     <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
<script type="text/javascript">
     $(document).ready(function () {
          $("#redirectSelect").change(function () {
               var selectedValue = $(this).val();
               if (selectedValue) {
                    window.location.href = selectedValue;
               }
          });
          $('#permissionAll').click(function () {
               var checkedStatus = this.checked;
               $(".form-check-input.permission").each(function () {
                    $(this).prop("checked", checkedStatus);
               });
          });
     });
     $(document).ready(function () {
          // When the checkbox state changes
          $("#urlId").change(function () {
               if ($(this).is(":checked")) {
                    // Show the div if the checkbox is checked
                    $("#show-url").show();
               } else {
                    // Hide the div if the checkbox is not checked
                    $("#show-url").hide();
               }
          });
     });
     $('#openOverlay').click(function () {

          $('#overlay').addClass('opened');
     })
     $('#closeOverlay').click(function () {

          $('#overlay').removeClass('opened');
     })

</script>

</html>